{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories du forum
{% endblock %}

{% block body %}

	<h1>Gérer les catégories du forum</h1>

    <a href="{{ path('admin_categories_ajout') }}" class="btn-accueil">Ajouter une catégorie</a>

	<table class="table table-dark table-hover">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nom</th>
				<th scope="col">Parent</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category_forum in categories %}
				<tr>
					<th scope="row">{{category_forum.id}}</th>
					<td>{{category_forum.nameCategory}}</td>
					<td>{{category_forum.parent}}</td>
					<td>
						<a href="{{ path('admin_categories_modifier', {id: category_forum.id}) }}">Supprimer</a>
						<a href="{{ path('admin_categories_modifier', {id: category_forum.id}) }}">Modifier</a>
					</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>

{% endblock %}
