{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
<section style="height: 100px;">
</section>

<div class="container">
    <h1>News index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TitleNews</th>
                <th>ContentNews</th>
                <th>ImgNews</th>
                <th>Auteur</th>
                <th>CreationDateNews</th>
                <th>ModificationDateNews</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.titleNews }}</td>
                <td>{{ news.contentNews }}</td>
                <td><img src="{{ asset('uploads/photos/' ~ news.imgNews) }}" width="100"></td>
                <td>{{ news.users.pseudo }}</td>
                <td>{{ news.creationDateNews ? news.creationDateNews|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ news.modificationDateNews ? news.modificationDateNews|date('Y-m-d H:i:s') : '' }}</td>
                <td>
               
                    <a href="{{ path('news_show', {'id': news.id}) }}">show</a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">edit</a>
				
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('news_new') }}">Create new</a>
</div>
    
{% endblock %}
